POSTGRES_DB=reserva_epo
POSTGRES_USER=epo_user
POSTGRES_PASSWORD=CambiaEstoPorContrasenaMuySegura123!
JWT_SECRET=genera_un_secreto_largo_aleatorio_aqui_minimo_32_caracteres
CORS_ORIGIN=https://tu-dominio.com
ADMIN_EMAIL=admin@epo.edu.mx
ADMIN_DEFAULT_PASS=CambiaLaClaveAdmin123!
