DATABASE_URL=postgresql://epo_user:epo_pass@db:5432/reserva_epo
JWT_SECRET=cambia_esto_por_un_secreto_muy_largo_en_produccion
PORT=4000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
ADMIN_EMAIL=admin@epo.edu.mx
ADMIN_DEFAULT_PASS=CambiaEstePassword123!
